.Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
    height: 50px;
    background-color: aquamarine;
}
.Header a{
    text-decoration: none;
    color: white;
}
.Header a[class='active']{
    color: darkorchid;
}